{% extends 'base.html' %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'create_project' %}">Create Project</a>
        </nav>
    </header>
    <main>
        <div>
            <h1>My Projects</h1>
            {% if not list_projects %}<p>You are not assigned to any projects</p>{% endif %}
            <table>
                <thread>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
                </thread>
                <tbody>
                    {% for project in list_projects %}
                        <tr>
                            <td>
                                <a href="{% url 'show_project' project.id %}">{{ project.name }}
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>
    {% endblock content %}
